.TodoTemplate {
    width: 512px;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    .app-title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 4rem;
        font-size: 1.5rem;
        background-color: #6e3e76;
    }

    .content {
        background-color: #dadeea;
    }
}
