.TodoInsert {
    display: flex;
    background-color: #495057;

    input {
        outline: none;
        border: none;
        padding: 0.5rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: white;
        background: none;
        &::placeholder {
            color: #dee2e6;;
        }

        flex: 1;
    }

    button {
        outline: none;
        border: none;
        padding: 1rem;
        font-size: 1.5rem;
        line-height: 1.5;
        color: white;
        background-color: #868e96;

        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background-color ease-in;
        &:hover {
            background-color: #adb5bd;
        }
    }
}
